*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  font-family:'Poppins', sans-serif;
  background:#0b2e13;
  color:white;
}

.container{
  max-width:500px;
  margin:auto;
  padding:20px;
  text-align:center;
}

h1{
  font-family:'Montserrat', sans-serif;
  font-size:32px;
  font-weight:800;
  margin-bottom:5px;
}

.subtitle{
  opacity:0.9;
  margin-bottom:15px;
}

.canvas-box{
  background:#06200c;
  padding:12px;
  border-radius:12px;
  border:2px solid #0f5d25;
}

canvas{
  width:100%;
  border-radius:10px;
  background:black;
}

.controls{
  margin-top:15px;
  background:#06200c;
  padding:15px;
  border-radius:12px;
  border:2px solid #0f5d25;
}

.upload-btn{
  display:block;
  background:#0f5d25;
  padding:12px;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
}

.upload-btn input{
  display:none;
}

.zoom-box{
  margin:12px 0;
}

.zoom-box span{
  display:block;
  margin-bottom:5px;
}

input[type=range]{
  width:100%;
}

.btn-row{
  display:flex;
  gap:10px;
  margin:10px 0;
}

.btn-row button{
  flex:1;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#145f2d;
  color:white;
  cursor:pointer;
  font-weight:600;
}

.download{
  width:100%;
  background:#1aa34a;
  padding:12px;
  border:none;
  border-radius:10px;
  font-size:16px;
  font-weight:700;
  margin-top:10px;
  cursor:pointer;
}

.download:hover{
  background:#22c55e;
}

footer{
  margin-top:15px;
  font-size:13px;
  opacity:0.7;
}
